NEXT_PUBLIC_SITE_URL=http://localhost:3000

# set weather to only generate on specific domain
LOCK_DOMAIN=false
LOCK_DOMAIN_URL=http://localhost:3000

# the length of the slug
SLUG_LENGTH=8

# cloud.google.com
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
GOOGLE_CLOUD_PROJECT=
GOOGLE_APPLICATION_CREDENTIALS=

# console.upstash.com
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# the time to wait before deduping a URL (in seconds)
WAITLIST_DEDUPE_TTL_SECONDS=86400 # 1 day
